<div class="container">
  <!-- Top Create Button -->
  <button class="create-btn" (click)="toggleForm()">
    {{ showForm() ? 'Close Form' : 'Create Contact' }}
  </button>

  <!-- Create / Edit Form -->
  @if (showForm()) {
  <div class="form">
    <h3>{{ isEdit() ? 'Edit Contact' : 'Create Contact' }}</h3>

    <label>Name:</label>
    <input type="text" [(ngModel)]="name" />

    <label>Add Email:</label>
    <input type="text" [(ngModel)]="emailInput" />
    <button (click)="addEmail()">Add Email</button>

    <div>
      @for (e of emailList(); track $index) {
      <span>
        {{ e }}
        <button (click)="removeEmail($index)">x</button>
      </span>
      }
    </div>

    <button (click)="saveContact()">
      {{ isEdit() ? 'Update Contact' : 'Save Contact' }}
    </button>
    <button (click)="resetForm()">Reset</button>
  </div>

  <hr />
  }

  <h3>All Contacts</h3>

  <!-- Display All Contacts -->
  @for (c of contacts(); track c.contactId) {
  <div class="contact-card flex justify-between">
    <div class="contact-header">
      <b>{{ c.name }}</b>

      <div class="emails">
        @for (e of c.contactEmails; track $index) {
        <span class="email-tag">{{ e }}</span>
        }
      </div>
    </div>

    <div class="actions">
      <button (click)="edit(c)">Edit</button>
      <!-- FIX: use contactId instead of id -->
      <button (click)="delete(c)">Delete</button>
    </div>
  </div>
  }
</div>
