<div class="flex flex-col gap-2 bg-gray-100 text-xs font-medium p-2 rounded-md">
  <div class="flex items-center gap-2 justify-between">
    <span class="mr-1"
      ><a [href]="attachmentDownloadUrl()" download>{{ attachmentName() }}</a> ({{
        attachmentSize()
      }})</span
    >
    @if (removable()) {
      <button
        (click)="onRemove.emit(attachment())"
        class="text-gray-600 hover:text-gray-700 focus:outline-none transition-colors cursor-pointer"
        title="Remove Attachment"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-4"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    }
  </div>
  @if (preview() && isAttachmentImage()) {
    <img
      [src]="attachmentViewUrl()"
      [attr.alt]="attachmentName()"
      class="max-w-[500px] max-h-[500px] object-contain rounded-md"
    />
  }
</div>
